<div class="position-absolute mt-3 toast-container">
  @for (toast of toastService.toasts; track toast) {
    <ngb-toast [class]="toast.className"
               [autohide]="true"
               [delay]="3000"
               (hidden)="toastService.remove(toast)">
      {{ toast.body }}
    </ngb-toast>
  }
</div>

<div class="m-4 main-background main-grid" id="main">
  <div class="wac-navbar" id="navbar">
    <wac-navbar></wac-navbar>
  </div>
  <div class="header" id="header">
    <wac-header/>
  </div>
  <div class="conversations" id="conversations">
    <wac-conversations></wac-conversations>
  </div>
  <div class="chat" id="chat">
    <wac-messages/>
  </div>
  <div class="send-message" id="send-message">
    <wac-send/>
  </div>
</div>
