@import "../../../assets/scss/bootstrap-variables";

.dropdown-toggle::after {
  content: none;
}

.wac-navbar {
  background-color: $menu-bg-color;
  height: $header-height;
}

#add {
  cursor: pointer;
}
